.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.account-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.account-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
